.background    { background-image: url("../image/snow3.jpg");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(102, 203, 255); }
.wall          { background: rgb(255, 255, 255);   }
.turtle								{
				background: #00db00;
				border-top-left-radius: 50%;
				border-top-right-radius: 50%;
}
.snow		{
				background: rgb(255, 250, 250);
				border-radius: 50%;
}

.actor  { position: absolute;  }
.coin   { background: rgb(255, 255, 0); }
.player {
				background-color: rgb(148, 0, 211);
				-webkit-transition: all 1s ease;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: absolute;
  left:19%;
	border: 4px solid white;
}

.lost .player {
    background-color: rgb(104, 241, 247);
    transform: rotate(360deg);
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

html, body {
    height:100%;
}

html {
	background-image: url("../image/snow3.jpg");
}

body {
    width: 960px;
    margin: 0 auto;
    background: Black;
    border: 4px solid white;
	height: 700px;
    text-align: center;
}

div.game-container {
    position: relative;
	height: 450px;
}

div.instructions {
	position: absolute;
	bottom: 0;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

#myCanvas {
    position: absolute;
    width: 600px;
    height: 420px;
    left: 19%;
    background-image: url("../image/snow3.jpg");
    z-index: 3;
	border: 4px solid white;
}

h1 {
	color: white;
}
